header {
  box-sizing: border-box;
  height: 100px;
  background: rgba(255, 255, 255, .2);
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 0px 50px 0px 50px;
  span, p, h1, a, li {
    color: black;
    font-size: 1.2em;
    font-family: 'Roboto-light';
    display: inline;
    line-height: 100px;
  }
  h1 {
    font-size: 1.5em;
    font-weight: 300;
    strong {
      font-weight: 700;
    }
  }

  ul {
    text-decoration: None;
    li {
      display: inline;
    }
  }
  button, a.button {
    margin-top: 28px;
    float: right;
    border: 1px solid #000;
    color: #000;
    background: none;
    text-transform: uppercase;
    padding: 10px 20px 10px 20px;
    line-height: 21px;
    font-size: 1.2em;
  }
}