h2.modal-title Are You Sure?

section.element

    p Deleting your account is irreversable. All data we hold related to you, including any data-sets and models, will be permanently destroyed.

button#deleteAccountButton.warning.save(onclick="deleteAccount()") Yes, I'm sure.