div#navBarPlaceholder
div#navBar
    nav
        a
            div#logo
                h2 BRAND
        ul
            li
                a(href="/dashboard") Dashboard
            li
                a(href="/settings") Settings

        a
            div#profile
                a(href="/settings")
                    div#profileImageHolder
                        img#profileImage(src=user.image width="80" height="80")
                    span#profileName= user.name