// JQUERY
script(src="https://code.jquery.com/jquery-2.2.0.min.js")

// UI
script(type="text/javascript" src="/javascripts/modal.js")
script(type="text/javascript" src="/javascripts/suppBar.js")
script(type="text/javascript" src="/javascripts/spreadsheet.js")

// ACTIONS
script(type="text/javascript" src="/javascripts/model.js")
script(type="text/javascript" src="/javascripts/data.js")