doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/spreadsheet.css')
    body
        include includes/modal
        include includes/notification
        include includes/navBar
        include includes/mainBar
        include includes/suppBar
        include includes/footer
        include includes/scripts
