
block suppContent
    if !user
        section.element
            h2.section-title Reset Password
            table.content
                tr
                    td Email
                    td: input.text(type="text")
                    td.right: button(onclick="modal.load('/async/newModel')") Send Email
    else
        section.element
            h2.section-title Reset Password
            table.content
                tr
                    td New Password
                    td.right: input.text(type="password")
                tr
                    td Confirm New Password
                    td.right: input.text(type="password")

        button.save(onclick="modal.load('/async/newModel')") Save
