extends ../skeleton
block content
    div#fullpage
        section.vertical-scrolling
            div.center
                h1 POLYMATH
                br
                h2 Software just got a whole lot smarter
                br
                a.button(href="/signup") Get Started
                button Learn More

        section.vertical-scrolling
            div.center-left
                h2 Hello World, First Section

        section.vertical-scrolling
            div.center-right
                h2 Yup, working