extends ../skeleton
block content
    div#fullpage
        section.vertical-scrolling
            div.center-right
                h1 Saasplate
                br
                p Don't reinvent the wheel. Build your SAAS app faster with Saasplate.
                br
                a.button(href="/signup") Get Started
                button Learn More

        section.vertical-scrolling(style="max-width: 800px; margin: auto;")
            div.center-left(style="text-align: left;")
                h2 Just a second
                p(style="text-align: justify") With integrated login and signup protocols, you can have users loggin in seconds, without writing a single line of code.

        section.vertical-scrolling(style="max-width: 800px; margin: auto;")
            div.center-right
                h2 Separate your concerns
                p(style="text-align: justify") Saasplate is built with a microservice architecture, meaning that the unique functionality of your saas app can easily be modified by adding extra services. We've done the standard stuff so that you can focus on creating the most amazing product you can.
        section.vertical-scrolling(style="max-width: 800px; margin: auto;")
            div.center-left(style="text-align: left;")
                h2 Scale scale scale
                p(style="text-align: justify") Saasplate is built with scalability in mind. Built with containers, your app can scale to meet any demand.